.login {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;

    /* background: rgb(244,144,12); */
    /* background: linear-gradient(90deg, rgba(244,144,12,1) 0%, rgba(14,54,114,1) 49%, rgba(0,212,255,1) 100%); */

    background: rgb(244,144,12);
    background: linear-gradient(90deg, rgba(244,144,12,1) 0%, rgba(14,54,114,1) 65%, rgba(4,58,139,1) 95%);

}